{% extends 'basic.html' %}

{% block title %} HOME {% endblock title %}
{% block homeactive %}active{% endblock homeactive %}

{% block stylecss %} 
<style>
    .name{
     margin-bottom: 50px;
     margin-top: 50px;   
    }
</style>
{% endblock stylecss %}

{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-1">Namaste Mahajan JI !</h1>
        <p class="lead">This is the home page of our real website made by Govinda Mahajan</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-success btn-lg" href="/blog" role="button">Goto blog</a>
      </div>
</div>


<div class="container mb-7">
    <h1>This are some most popular blog post</h1>
    <div class="card name" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
        </div>
      </div>
</div>
{% endblock body %}